.body{
  padding: 0 1.5em;
  margin: 0 auto;
}
.main{
  display: flex;
  max-height: calc(100vh - 11em);
  overflow: hidden;
}
.list{
  flex: 1 25%;
  padding-right: 1em;
  overflow: auto;
}
.content{
  flex: 1 75%;
  padding-left: 2em;
  border-left: 1px solid #555;
  overflow: auto;
}
