
@import-normalize;

*{
  box-sizing: border-box;
  font-family: "微软雅黑", Arial, Helvetica, sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  position: relative;
}
